<div class="container">
  <div class="row">
    <div class="col-md-8">
      <app-header (createTask)="CreateTask()"></app-header>
      <app-task-list #appTaskList
        [tasks]="tasks"
        (displayDetail)="DisplayDetail()">
      </app-task-list>
    </div>
    <div class="col-md-4">
      <app-task-detail
        *ngIf="displayDetail"
        (deleteDetail)="DeleteDetail()"
        (hideDetail)="HideDetail()"
        [task]="appTaskList.task"
        [taskIndex]="appTaskList.i">
      </app-task-detail>
    </div>
  </div>
</div>
